/* Box Model Hack */
* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: sans-serif;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     background-color: #262626;
}

.container{
     background-color: #ffffff;
     width: 400px;
     padding: 50px;
     position: absolute;
     transform: translate(-50%, -50%);
     top: 50%;
     left: 50%;
     box-shadow: 15px 30px 35px rgba(0,0,0,0.1);
     border-radius: 10px;
     -webkit-perspective: 300px;
     perspective: 300px;
}

.counter{
     text-align: center;
     color: #101020;
     font-weight: 500;
     line-height: 25px;
}

.coin{
     height: 150px;
     width: 300px;
     position: relative;
     margin: 50px auto;
     -webkit-transform-style: preserve-3d;
             transform-style: preserve-3d;
}

.coin img{
     width: 150px;
     height: 150px;
     margin: auto 50px;
     padding-bottom: 20px;
     padding-left: 20px;
}

.heads, .tails{
     position: absolute;
     width: 100%;
     height: 100%;
          -webkit-backface-visibility: hidden;
                  backface-visibility: hidden;
}

.tails{
     transform: rotateX(180deg);
}

@keyframes spin-tails{
     0%{
          transform: rotateX(0);
     }
     100%{
          transform: rotateX(1980deg);
     }
}

@keyframes spin-heads{
     0%{
          transform: rotateX(0);
     }
     100%{
          transform: rotateX(2160deg);
     }
}

.buttons{
     display: flex;
     justify-content: space-between;
}

button{
     width: 140px;
     padding: 10px 0;
     border: 2.5px solid #58bd7f;
     border-radius: 5px;
     cursor: pointer;
}

#toss-button{
     font-size: 20px;
     font-weight: bold;
     color: #000;
     background-color: #58bd7f;
}

#reset-button{
     font-size: 20px;
     font-weight: bold;
     color: #000;
     background-color: #58bd7f;
}





/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
